/* .header {
  position: sticky;
  background-color: #2f5167;
  height: 90px;
  color: #fff;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
} */

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: black;
  border-radius: 50px;
  position: fixed;
  width: 100%;
}
.navbar li {
  float: right;
  list-style: none;
  margin: 15px;
  margin-right: 80px;

  color: white;
  font-size: 15px;
}
.navbar ul {
  overflow: auto;
}
.navbar li a {
  text-decoration: none;
}

.navbar li a:hover {
  color: turquoise;
}

/* li {
  list-style: none;
  float: right;
  padding: 33px 20px 33px 20px;
} */

.container {
  background-image: url("/src/ht.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  opacity: 1;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 90px;
  padding: 40px 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}
.footer-list li {
  float: right;
  list-style: none;
  margin: 20px;
}

.footer-list li a {
  text-decoration: none;
}
.intro {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about {
  background-image: url("/src/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
  background-color: #fff;
  color: rgb(12, 12, 12);
  height: 800px;
  padding-top: 80px;
  padding-left: 70px;
}

a:link,
a:visited {
  color: #fff;
}
