.header {
    position:sticky;
    background-color: #2f5167;
    height: 90px;
    color:#fff;
  }

.header-logo{
    font-size:36px;
    float:left;
    padding:20px 40px;
}

li {
    list-style: none;
    float:right; 
    padding:33px 20px 33px 20px;  
}

.main {
    background-image: url("ht.jpg");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }
.footer {
    
    background-color: #2f5167;
    color:#fff;
    height: 90px;
    padding:40px 40px; 
}

.footer-logo{
    font-size:32px;
    float:left;
  }
  .footer-list{
    float:right;
}

.footer-list li{
    padding-bottom:20px;
}

.intro {
    text-align: center;
    font-size:30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about {
    background-image: url("about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
    background-color:#fff;
    color:rgb(12, 12, 12);
    height: 800px;
    padding-top:80px;
    padding-left:70px;
}

a:link, a:visited{
    color:#fff;
}